
body	{	font-size:  10px;
		color:  #222222;
		font-family: Helvetica;	
	}

table	{	
		color: #222222;
		font-family: Helvetica;	
		/* background-color: #F8F8F8; */
		margin-left: auto;
		margin-right: auto;
		/* width: 100%; */
	}

.data_cell	{ 
		text-align: left;
		/* width:  45%; */
		float: left;	 
		border: 0px solid #ccc;	 
	}

.won		{	color: #04B404; }
.lost		{	color: #FF3333;	}
.pending	{	color: #CCCCCC;	}
.total		{	color: #000000;	text-align: center;}

.current	{	color:  #1166FF;
			text-align: center;	}
.min		{	color:  #1166FF;
			text-align: center;	}
.max		{	color:  #1166FF;
			text-align: center;	}
			
.first		{	color:  #FF0000;
			text-align: center;	}
.last		{	color:  #FF0000;
			text-align: center;	}

.total_breakdown	{ font-size: 14px; }
.sales_breakdown	{ font-size: 12px; }

h2	{	text-align: center;	}
h3	{	text-align: center;
		font-size: 12px;  	}

.name		{	text-align:right;	
			width: 150px;
			
			
	}
.sp_row		{	
			border: 0px solid black;
			width:  700px;	
	}

#cell1	{
		margin-left: auto;
		margin-right:  auto;
		width:  400px;
}

#cell2	{
		margin-right: auto;
		margin-left:  auto;
		/* float: right;  */
		width:  400px;
}

#cell3	{
		margin-left: auto;
		margin-right:  auto;
		/* float: left; */
		width:  400px;
}


#cell4	{
		margin-right: auto;
		margin-left:  auto;
		/* float: right; */
		width:  400px;
}

#cell5	{
		margin-right: auto;
		margin-left:  auto;
		/* float: right; */
		width:  500px;
}

#cell6	{
		margin-right: auto;
		margin-left:  auto;
		float: left;
		width:  500px;
}

#cell7	{
		margin-right: auto;
		margin-left:  auto;
		/* float: right; */
		width:  500px;
}

.price		{	text-align: center;	}
.customer	{ 	text-align: right;}



.on	{	color:  #04B404; }	
.off	{	color:  #AAAAAA; }

.assembly	{	width: 100%; 
			border: 0px solid black;	
		}



.order_id	{}

.hours		{	text-align: center; }

.hours_image	{	width: 500px;
			text-align: right; }

.hours_image_left	{	width: 500px;
			text-align: left; }

.data_link	{
		text-decoration:  underline;
		cursor: pointer;
		background-color:  #FFFFFF;
		width:  100px;
		margin-left:  0px;
		margin-right: 1px;
		padding:  10px;
		float: left;
		/* font-size:  16px; */
		font-weight:  bold;

/*
		border-top: 1px solid #EEEEEE;
		border-left: 1px solid #EEEEEE;
		border-right: 1px solid #CCCCCC;
		border-bottom: 1px solid #CCCCCC;
*/
	}

.mini_data_link	{
		cursor: pointer;
}

.data_entry	{
		
		font-size:  10px;
		////////border: 1px solid black;
}

.table_holder	{
/*
		border-top: 1px solid #EEEEEE;
		border-left: 1px solid #EEEEEE;
		border-right: 1px solid #CCCCCC;
		border-bottom: 1px solid #CCCCCC;
*/
		margin-left:  auto;
		margin-right: auto;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 5px;
		padding-left: 5px;	
		/* background-color: #F8F8F8; */
		/*border: collapse; */
		text-align: center;
		width: 1000px;
		zoom: 100%;

		}

.page_holder	{
		width: 100%;
		text-align: center;

		}

th	{	/* background-color:  #DDEEFF; */
		/* padding: 5px; */
		//////border: 1px solid #EEE;
		/* font-size:  16px; */
		font-size: 10px;
		font-weight: bold;
		text-align: center;
/*

		border-top: 1px solid #DDE;
		border-left: 1px solid #DDE;
		border-right: 1px solid #BBC;
		border-bottom: 1px solid #BBC;
*/
	}

th a:link	{	color: #333333;
			text-decoration: none;
		}

th a:visited	{	color: #333333;
			text-decoration: none;
		}

th a:hover	{	color: #3366AA;
			text-decoration: underline;
		}

th a:active	{	color: #AA3333;
			text-decoration: none;
		}

td	{	padding: 2px;
		margin: 0px;
		background-color: #FFFFFF;
		/* color: #3377DD; */
		//border-bottom: 1px solid #BBB;
		font-size:  12px;
	}


td a:link	{	color: #2255BB;
			text-decoration: none;
		}

td a:visited	{	color: #2255BB;
			text-decoration: none;
		}

td a:hover	{	color: #1133BB;
			text-decoration: underline;
		}

td a:active	{	color: #AA5522;
			text-decoration: none;
		}

h1 		{ 	margin-left: auto;
			text-align: left;
			margin: 5px;
			padding: 5px;			
		}

h1 a:link 	{	text-decoration: none;	
			color: black;
		}
h1 a:visited 	{	text-decoration: none;	
			color: black;
		}

h1 a:hover	{	color: #010101;
		}

h3		{	margin: 2px;	
			font-size:  16px;	
		}

.space		{ 	margin-top:  6px;
			//margin-top: 9px;
		 }

.title		{	/*
			text-align: left; 
			text-decoration: bold;
			font-size: 34px; 
			*/
		}

.entry_form		{	
			width: 350px;

/*
			border-top: 1px solid #DDE;
			border-left: 1px solid #DDE;
			border-right: 1px solid #BBC;
			border-bottom: 1px solid #BBC;

*/
			padding: 10px;
			margin-top: 2px;
			/* background-color:  #DDEEFF; */
			text-align: left;
			float: left;
			margin-right: 2px;
			margin-bottom: 2px;
						
		}

textarea	{ width: 200px; }

select	{	width: 200px;	}
input	{	width: 200px; }

td input {	width:100px; }

.check	{	width: 20px; 
		margin-left: -3px;	
		margin-top: 4px;
		padding-left: 0px;
	}

.ecn_form {
		visibility: hidden;
	}

.hand	{	cursor: pointer; cursor: hand;
	}


.hideable	{	/* visibility: hidden; */
			
			position: absolute;
			 
		
		}

	.window	{	position: absolute;
			left:	50px;
			top: 	50px;
			background-color: #FFFFFF;
			//////border: 2px ridge #1155FF;
			width: 378px;
			height: 372px;
			// width:  365px;
			// height: 365px;
			padding: 0px;
			
		}


	.menu	{	/* background-color: #E4E2D0; */
			text-align: left;
			font:	11px Tahoma;
			height: 15px;
			padding-top: 2px;
			padding-left: 5px;
			padding-bottom: 3px;
			border-bottom: 1px solid gray;
			word-spacing: 10px;
			
		}

	#existing {	width: 15px;
			
			align: right;
		}

	.headerBarTitle	{ 	float: left;
				color: white;
				font-weight: bold;
				font:  bold 13px Tahoma;
				color: white;
			}

	.operations	{ 	text-align: right;}
	.headerBar	{ 	border-bottom: 1px solid white;
				padding: 2px;
				/* background-color: #1155FF; */
				height: 17px;
				padding-top: 3px;	
				padding-bottom: 3px;
				margin: 0px;
			}
	.footerBar	{	//position: absolute;
        			left:	-2px;
        			top: 	200px;
        			//background-color: #DDDDDD;
        			//////border: 2px ridge gray;
        			//width: 200px;
        			//height: 15px;
        			padding: 1px;
        			visibility: visible;	
				text-align: right;
				clear: both;
				vertical-align: bottom;		
			}
			
	.windowBody	{	clear: both;
				padding: 3px;
				text-align: left;
				line-height: 1em;
				font: 12px Tahoma;
				
			}
	
	img		{	 ////////border: 0px solid black;	}

	.uglyHack	{	vertical-align: bottom;	
				height:  100px;	
				//////border: 1px solid green;
				width: 100%; 				
			}	
	.main		{	visibility: visible;
			}

.input_holder	{	height: 16px;
			font-size: 14px;
			/* background-color: #EEEEEE; */
			//////border: 1px solid #BBC;
			width: 192px;
			margin-left: 130px;
			// margin-left: 80px;
			// width: 200px;
			padding: 3px;
		}
.entry_form label	{	float: left;
			display: block;
			text-align: right;
			padding-right: 10px;
			margin-top: 5px;
			width: 120px;
			//////border: 0px solid black;
		}



.clear		{	clear: both;
		}

#description	{ text-align: right;
		}

.salesbar	{				
			padding: 0px;
			margin:  0px;		
			/* margin-left:  100px; */				

	}

.salesbar_canvas	{				
			
			border: 0px solid green;				

	}

